.contact {
    background: linear-gradient(148deg,rgba(0,78,84,.5),rgb(255 0 247 / 14%) 100%,rgb(4 34 36 / 0%) 0);
}

.container {
    max-width: 1260px;
}
@media (min-width: 750px) {
.window{
   grid-template-columns: repeat(2,1fr);
}}
.window {
    display: none;
}
.float {
    float: right;
    margin-bottom: 10px;
    width: 48%;
}

.contact3 {
    column-gap: 100px;
    display: grid;
    min-height: 302px;
    padding: 0 0px;
}@media (min-width: 1000px){
    .contact3 {
 column-gap: 100px;
 display: grid;
 min-height: 302px;
 padding: 0 30px;
}}
.contactusinformations {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.whole {
    background: linear-gradient(103.25deg,rgba(0,255,255,.15),rgba(82,0,255,.1));
    border-radius: 20px;
    min-height: 40vh;
    padding: 20px;
    position: relative;
    margin-top: 100px;
}
.info-text {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    margin-top: 50px;
}
.name-surname {
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 48%;
}
@media (min-width: 1000px) {
.section-contact-us {
    background: linear-gradient(148deg,rgba(0,78,84,.5),rgb(255 0 247 / 14%) 100%,rgb(4 34 36 / 0%) 0);
}}

input, textarea {
    background: transparent!important;
    border: 1px solid rgba(2,205,210,.8);
    border-radius: 6px;
    box-sizing: border-box;
    color: #02cdd2;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    outline: none;
    padding: 14px 12px;
    width: 100%;
}textarea {
    height: 160px;
}

.full {
    width: 100%;
}
.form-item{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.choice {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    position: relative;
}
input[type="checkbox"] {
    /* ...existing styles */
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 0.8em;
    height: 0.8em;
    border: 0.10em solid currentColor;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.5em;
    height: 0.52em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  .form-control-70 {
    --form-control-color: #02cdd2;
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }
  .accept {
    font-size: 12px;
    padding: 5px;
  }

 .s {
    color: #02cdd2;
  }
.btns {
    background: #000;
    background-clip: padding-box;
border: 2.3px solid #00cfc4;
    border-radius: 16px;
    box-sizing: border-box;
    color: #00cfc4;
    padding: 10px 35px;
    transition: all .3s ease;
}
.btns::after {
    background: #00cfc4;
}
.fuckjent {
    align-items: center;
    border-radius: 130px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    height: 50px;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
}
.btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}